<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Дополнительная информация</title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <div class="ttl">Дополнительная информация</div>
        <div class="groupval">
            <div class="inf">Номер первого спутника:
                <span th:text="${satellite1Number}"></span>
            </div>
            <div class="inf">Номер второго спутника:
                <span th:text="${satellite2Number}"></span>
            </div>
            <div class="inf">Номер третьего спутника:
                <span th:text="${satellite3Number}"></span>
            </div>
        </div>
        <div>
            <div class="groupval inf">P1 первого спутника:
                <div th:text="${satellite1P1}"></div>
            </div>
            <div class="groupval inf">P2 первого спутника:
                <div th:text="${satellite1P2}"></div>
            </div>
            <div class="groupval inf">P1 второго спутника:
                <div th:text="${satellite2P1}"></div>
            </div>
            <div class="groupval inf">P2 второго спутника:
                <div th:text="${satellite2P2}"></div>
            </div>
            <div class="groupval inf">P1 третьего спутника:
                <div th:text="${satellite3P1}"></div>
            </div>
            <div class="groupval inf">P2 третьего спутника:
                <div th:text="${satellite3P2}"></div>
            </div>
        </div>
    </body>
</html>