button {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: RoyalBlue;
}

.ttl {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.inf {
    font-size: 18px;
}

.groupval {
    padding-bottom: 20px;
}
